tools/mif/mif-schemas-217/xhtml1-hl7-types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="{$hl7TypesNS}" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:hl7-org:xhtml1-hl7-types">
   <xs:annotation>
      <xs:documentation>
						Created for HL7 use by by Lloyd McKenzie, Dec. 2005 and Paul Biron, Apr. 2009

						(c) 2005-2009 by HL7 Inc.

						Purpose:

							The Simple Types defined here are defined by HL7 and
							serve to restrict values for certain XHTML attributes

							This schema document is intended to be imported into HL7's
							modified XHTML 1.0 schema document
					</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="MediaType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="text/plain">
            <xs:annotation>
               <xs:documentation>Plain Text</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="text/html">
            <xs:annotation>
               <xs:documentation>HTML Text</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/pdf">
            <xs:annotation>
               <xs:documentation>PDF</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="text/xml">
            <xs:annotation>
               <xs:documentation>XML Text</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="text/rtf">
            <xs:annotation>
               <xs:documentation>RTF Text</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/msword">
            <xs:annotation>
               <xs:documentation>Microsoft Word</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="audio/mpeg">
            <xs:annotation>
               <xs:documentation>MPEG audil layer 3</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="image/png">
            <xs:annotation>
               <xs:documentation>PNG image</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="image/gif">
            <xs:annotation>
               <xs:documentation>GIF </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="image/jpeg">
            <xs:annotation>
               <xs:documentation>JPEG image</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="video/mpeg">
            <xs:annotation>
               <xs:documentation>MPEG Video</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ImageType">
      <xs:annotation>
         <xs:documentation>
							Identifies the type of image being represented.  Necessary
							to allow for proper image scaling.
						</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="application/postscript">
            <xs:annotation>
               <xs:documentation>A post-script image.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/pdf">
            <xs:annotation>
               <xs:documentation>An Adobe PDF document</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/png">
            <xs:annotation>
               <xs:documentation>A Portable Network Graphic</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/svg+xml">
            <xs:annotation>
               <xs:documentation>A scalable vector graphic</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="application/jpeg">
            <xs:annotation>
               <xs:documentation>A JPEG image</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="image/gif">
            <xs:annotation>
               <xs:documentation>GIF </xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="MifClassType">
      <xs:restriction base="xs:NMTOKENS">
         <xs:enumeration value="inserted"/>
         <xs:enumeration value="deleted"/>
         <xs:enumeration value="changed"/>
         <xs:enumeration value="graphic"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ObjectName">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="constructedElement">
            <xs:annotation>
               <xs:documentation>Allows insertion of a pre-defined complex structure (e.g. auto-generated table or diagram) to be inserted</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="footnote">
            <xs:annotation>
               <xs:documentation>Supporting content that should be referenced within the document, but displayed at the end of the page or document section.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="requirementRef">
            <xs:annotation>
               <xs:documentation>Allows linkage to an externally-defined requirement by number or id.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="externalSpecRef">
            <xs:annotation>
               <xs:documentation>A reference to an externally defined specification.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="figureRef">
            <xs:annotation>
               <xs:documentation>Allows referencing an 'img' in the markup associated with this or some other element within the current model or package.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="tableRef">
            <xs:annotation>
               <xs:documentation>Allows referencing an 'table' in the markup associated with this or some other element within the current model or package.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="itemName">
            <xs:annotation>
               <xs:documentation>Inserts the name of the current element or the name of one of it's ancestors.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="annotationRef">
            <xs:annotation>
               <xs:documentation>A reference to an annotation on the current element or one of its parents</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="artifactGroupRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a collection of artifacts of a particular type</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="packageRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a particular package</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="domainAnalysisModelRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific domain analysis model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="domainInstanceExampleRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific domain instance example</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="glossaryRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific glossary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="glossaryTermRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific term within a glossary</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="storyboardRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific storyboard model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="freehandDocumentRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific document (e.g. ITS, transport protocol, etc.)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="publicationRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific publication (e.g. ballot, normative edition, etc.)</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="datatypeModelRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a datatype model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="datatypeRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a datatype definition</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="propertyRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific property of a datatype definition</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="staticModelRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="subjectAreaRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific subject area in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="classRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific class in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="stateRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific state for a class in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="transitionRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific state transition for a class in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="attributeRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific attribute for a class in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="associationEndRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific association end for a class in a static model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="triggerEventRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific trigger event</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="applicationRoleRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific application role</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="interactionRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific interaction</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="vocabularyModelRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific vocabulary model</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="conceptDomainRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific vocabulary domain</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="vocabularyCodeSystemRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific code system</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="vocabularyCodeRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific code within a code system</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="vocabularyValueSetRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific value-set</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="testScenarioRef">
            <xs:annotation>
               <xs:documentation/>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="testCaseRef">
            <xs:annotation>
               <xs:documentation>An absolute reference to a specific value-set</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ParamName">
      <xs:restriction base="xs:string">
         <xs:enumeration value="constructType"/>
         <xs:enumeration value="id"/>
         <xs:enumeration value="item"/>
         <xs:enumeration value="annotationKind"/>
         <xs:enumeration value="root"/>
         <xs:enumeration value="domain"/>
         <xs:enumeration value="realmNamespace"/>
         <xs:enumeration value="version"/>
         <xs:enumeration value="artifact"/>
         <xs:enumeration value="subArtifact"/>
         <xs:enumeration value="name"/>
         <xs:enumeration value="artifactName"/>
         <xs:enumeration value="group"/>
         <xs:enumeration value="linkToEnd"/>
         <xs:enumeration value="withinClassName"/>
         <xs:enumeration value="relationshipName"/>
         <xs:enumeration value="attributeName"/>
         <xs:enumeration value="className"/>
         <xs:enumeration value="supplierBindingArgumentDatatype"/>
         <xs:enumeration value="datatypeName"/>
         <xs:enumeration value="conversionDatatype"/>
         <xs:enumeration value="propertyName"/>
         <xs:enumeration value="termName"/>
         <xs:enumeration value="stateName"/>
         <xs:enumeration value="stateTransitionName"/>
         <xs:enumeration value="subjectAreaName"/>
         <xs:enumeration value="codeSystemId"/>
         <xs:enumeration value="code"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ParamValue">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
</xs:schema>